* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    background: #000000;
}

.hub {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    margin-left: 80px;
}

.hub span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 6px;
    padding: 3px 10px 3px 10px;
    margin-left: 2px;
}


.form {
    border: none;
    background: #272B33;
    color: orange;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    border-radius: 10px;
    width: 200px;
    font-size: 20px;
}

.form input {
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
    color: orange;
}
.images{
    border: none;
    width: 300px;
    height: 300px;
}